/* Testing Merge */
h1 {
    font-family: 'Patua One', cursive;
    color: rgb(7, 85, 7);
    font-size: 100px;
    font-weight: bold;
}

body {
    background-image: url("./assets/images/pexels-photo-326278.jpeg");
    height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer a {
    color: forestgreen;
}

.textarea {
    opacity: 0.6;
    outline: 3px;
    border: 3px;
    width: 50%;
    font-size: 20px;
    color: black;
    ;
}

.modal-card-title {
    margin-left: 20px;
}

.content .tab-content {
    padding: 1rem;
    display: none;
}

.content .tab-content.is-active {
    display: block;
}

#meal-col-1,
#drink-col-1 {
    height: 400px;
}

.by {
    margin: 0px;
}

.end,
strong {
    color: rgb(241, 236, 231);
    font-size: 25px;
}

#meal-btn,
#drink-btn,
#fav-meal-btn,
#fav-drink-btn {
    font-weight: bolder;
    color: rgb(7, 85, 7);
    font-size: 20px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 5px;
    opacity: 70%;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #7c7b7b;
}

#meal-btn:hover,
#drink-btn:hover,
#fav-meal-btn:hover,
#fav-drink-btn:hover {
    box-shadow: 5px 5px 5px #cecece;
    opacity: 100%;
}

.buttons-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dlt-btn:hover {
    background-color: red;
}

@media screen and (max-width:1228px) {
    body {
        height: 100%;
    }
}